[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "lessR"]
	path = lessR
	url = https://github.com/cran/lessR
	shallow = true
	registered = true
